
.form-avocat{
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  padding-right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nat-internat{
  color: #3A425C;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
input.inputcss  , textarea.description , select.select-form {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: #555;
}
textarea.description{
    height: 100px;
}
.checkbox-type{
  width: 5%;
}
label.label-form{
    display: block;
  margin-bottom: 10px;
  margin-top: 10px ;
  color: #3A425C;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;

}
select.select-form {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
  }
  button.bouton-envoyer[type="submit"] {
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    background-color: #424a65;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  button.bouton-envoyer[type="submit"]:hover {
    background-color: #1D243B;
  }
